
.separate_table td{
	border: 1px solid #BBB;
	color: #000000;			
	text-align: center;	
	
}

.separate_table thead td{
	border: 2px solid #9BA;
	color: #000000;		
	text-align: center;	
	font-weight: bold;
	padding: 5px;	
}

.table_sum_words{
	border: 2px solid #F0F;
	text-align: right;
}
.table_sum_words td{
	border: 1px solid #FAF;
	text-align: right;
}

.table_stats{
	border: 2px solid #00F;
	text-align: center;
}

.table_stats td{
	border: 1px solid #AAF;
	text-align: center;
}

.hidden_cell{
	display: none;
	border: 0px solid #FFAAAA;
}